<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:left">
  <h2>
    {{title}}
  </h2>
 <!-- Set up user entry form and initialize output table id-->
 <p>
  <label>Starting amount: </label>
  <input type="number" [(ngModel)]="amount" placeholder="Amount" />
</p>

<p>
  <label>Rate of Return (percent): </label>
  <input type="number" [(ngModel)]="rate" placeholder="Interest Rate" />
</p>

<p>
  <label>Years: </label>
  <input type="number" [(ngModel)]="years" placeholder="Number of Years" />
</p>


 <button (click)="calculate()">Calculate</button>
 <button (click)="reset()">Reset</button>

 <div>
 <table *ngIf="savingsRows.length">
  <tr> 
     <th>Month</th> 
     <th>Interest</th> 
     <th>Balance</th> 
  </tr>

  <tr *ngFor="let row of savingsRows">
      <td>{{row.month}}</td>
      <td>{{row.interest | currency:'USD':true }}</td>
      <td>{{row.balance | currency:'USD':true }}</td>
  </tr>
</table>
</div>